.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 50px; /* Height of the top bar */
  margin-left: 200px;
}

.top-bar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100; /* To ensure it stays on top */
}

.side-bar-container {
  flex: 0 0 200px; /* Sidebar width, adjust as needed */
  height: calc(100vh - 50px); /* Height minus the top bar height */
  position: fixed;
  z-index: 100; /* To ensure it's above other content */
}

.routes-container {
  flex-grow: 1;
  margin-left: 200px; /* Width of the sidebar */
  padding: 20px;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #f0f8ff; /* Light blue background */
}
