/*

    This styling sheet exists to maintain styling consistency across the application through html element styling
    , variables defining colour scheme, and additional variables to track variables such as padding and margins.

    Class selectors should be applied within styling sheets accompanying the component or page to be applied on.
    Any additional shared variables can be added as required.

*/

:root {
  /* Sidebar, header and footer colours */
  --navitem-border: #009f4c;
  --sidebar-background: white;
  --header-background: white;

  /* Main colour palette */
  --background-colour: white;
  --highlight-colour: #009f4c;
  --highlight-secondary-colour: #7ec78f;
  --heading-colour: black;
  --subheading-colour: #7ec78f;
  --body-text-colour: #707070;
  --border-colour: #cdcdcd;
}

.p {
  color: var(--body-text-colour);
}

input {
  border: none;
  appearance: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 10vw;
  font-size: 16px;
}
input:focus::placeholder {
  color: transparent;
}
input::placeholder {
  color: #222;
  transition: color 0.3s ease;
}

button {
  outline: none;
  border-radius: 6px;
  color: #fff;
  background-color: var(--highlight-secondary-colour);
  font-weight: bold;
  border: 0;
  cursor: pointer;
}
button:hover {
  background-color: var(--border-colour);
}

button:active {
  background-color: var(--highlight-colour);
}

body {
  background-color: #f0f8ff; /* Light blue background */
  margin: 0;
  padding: 0;
  /* other global styles */
}
